[Unit]
Description=AYTA
After=network.target

[Service]

Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=/home/pi/AytaFirstLayer
ExecStart=/usr/bin/python3 /home/pi/AytaFirstLayer/app.py

[Install]
WantedBy=multi-user.target